/*.project
/*.pmd
/bps-integration/*.project
/bps-integration/.settings/*.prefs
/bps-integration/bps-spark-integration/*.log
metastore_db
/common-service/*.classpath
/common-service/*.project
/bps-integration/bps-spark-integration/target
/bps-integration/bps-spark-integration/*.classpath
/bps-integration/bps-spark-integration/*.project
/common-service/.settings/*.prefs
/bps-flink/.settings/*.prefs
/bps-integration/bps-flink-integration/.settings/*.prefs
/bps-integration/bps-spark-integration/.settings/*.prefs
/bps-integration/bps-flink-integration/*.log
/bps-flink/*.classpath
/bps-flink/*.project
/bps-integration/bps-flink-integration/*.classpath
/bps-integration/bps-flink-integration/*.project
